*{margin:0;padding:0;box-sizing: border-box;font-family: 'Mulish', sans-serif;}

a{text-decoration: none;color: #fff;}

header{
	height: 100vh;
	width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


    position: relative;

}

header:before{

content: "";
width: 200px;
height: 200px;
position: absolute;
left: 0;
bottom: 0;
top: 30%;
background-image: url('images/shikharpic.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;

}

nav{

   width: 100%;
   height: 15vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: absolute;
}

.logo a{

	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: bold;
}

.menu ul li{

	list-style: none;
	display: inline-block;
	padding: 0 15px;
}

.menu ul li a{
	text-transform: capitalize;
	font-size: 18px;
}

 ul li:hover{

	border-bottom: 2px solid #020024;
	padding: 5px 0;
	font-weight: 600;

}

.contact_btn{
	background: #fff;
	padding: 12px 26px;
	font-size: 14px;
	font-weight: 400;
	border: 2px solid #000;
	cursor: pointer;

}

.contact_btn a{color:#000;font-weight: 700;}

button{

	background: none;
	border: 1px solid transparent;
}

./* contact_btn:hover{
	background: linear-gradient(to bottom,#615cfd 0%, #d465ef 100%);
	border: 2px solid #615cfd;
	} */
.contact_btn a:hover{color: #fff;}


.center_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.center_content h1{

	font-size: 50px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 20px;
/* 	z-index: 1;
 */}

.center_content h3{
	font-size: 25px;
	font-weight: 400;
	color: #fff;
/* 	/* 	z-index: 1;
 */
}

h1 span{

	transition: 0.5s;
}


h1:hover span:nth-child(1){

     margin-right:10px;
 }


 h1:hover span:nth-child(2){

     margin-left:20px;
 }

h1:hover span{

 text-shadow: 0 0 10px #fff,
 0 0 20px #fff,
 0 0 40px #fff,
 0 0 80px #fff,
 0 0 120px #fff;
 
}

.center_content h3:before{

	content:"";
	width: 80px;
	height: auto;
	border: 2px solid #fff;
	position: absolute;
    left: 83px;
    top: 96px;
}

.social_icons{

	width: 100px;
	height: auto;
	position: absolute;
	right: 0;
	top: 40%;
}

.fa-icons{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #fff;
	background: linear-gradient(to bottom,#615cfd 0%, #d465ef 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2),5px 5px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
	font-weight: bold;


}

.fa-icons:nth-child(even){

	margin: 15px 0;
}

.fa-icons:hover{
	background: linear-gradient(to bottom,#d465ef 0%, #615cfd 100%);
	transform: translateX(-10px);

}

.grid_sec{

	width: 140px;
    /* height: 9px; */
    position: absolute;
    left: 50%;
    bottom: 22%;    /* top: 10%; */
}

img{max-width: 100%;}

svg{
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}

svg circle{

	width: 100%;
	height: 100%;
	fill: none;
	stroke: #101010;
	stroke-width: 10;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

svg circle:nth-child(2){

  stroke-dashoffset: 440;
  stroke-dasharray:300;

}

.card:nth-child(1) svg circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #00a1ff;
	
	}

.card:nth-child(3) svg circle:nth-child(2){

	 stroke-dashoffset: calc(440 - (440 * 50) / 100);
     stroke: #ff04f7;
}


.card:nth-child(4) svg circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: #ff4499;
}

.card:nth-child(5) svg circle:nth-child(2){

	
   stroke-dashoffset: calc(440 - (440 * 75) / 100);
   stroke: #FFCC70;
}

/* progressive section*/

.progressive{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background: #fff;
	margin-top: -100px;
	margin-bottom: -90px;


}

.container{

	position: relative;
	width: 1100px;
	display: flex;
	justify-content: space-around;
}

.container .card{

	position: relative;
	width: 250px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	margin: 0 8px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.container .card:hover{

	transform: translateY(-10px);
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);

}

.container .card:before{

	content:'';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: -50%;
	background: rgba(255,255,255,.03);
	pointer-events: none;
	z-index: 1;


}

.percent{

	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0 0  50px #000;
	background: #222;
	z-index: 1000;
}

.percent .number{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

}

.percent .number h2{

	color: #777;
	font-weight: 700;
	font-size: 40px;
	transition: 0.5s;

}

.card:hover .percent .number h2{

	color: #fff;
	font-size: 40px;
}

.percent .number h2 span{

     font-size: 24px;
     color: #777;
     transition: 0.5s;
}

.card:hover .percent .number h2 span{

	color: #fff;
}

.text{

	position: relative;
	font-weight: 700;
	color: #777;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.5s;
	margin-top: 20px;
}

.card:hover .text{

color: #fff;
}

#skill h1{

	text-align: center;
	font-size: 60px;
	font-weight: bold;
	margin-top: 50px;
	transition: 0.5s;
	letter-spacing: 1px;
    text-transform: uppercase;
    color: #01fe87;


}

h1:before{

	    border-right: 2px solid  #01fe87 ;

}

  .about-container{
	width:80%;
	height:380px;
/* 	background:#ffffff;
 */	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	position: relative;
transform: translateY(20px);
	left: 10%;
	justify-content:space-evenly;
	align-items: center;
	background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);


}

.about_background{background: #000;margin-bottom:-30px;}

.about-heading{

	width: 100%;
	text-align: center;
	padding: 30px 0;
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent,rgba(0,0,0,0.2));
	color: #fff;

}

.about-heading span{

	display: inline-block;
	position: relative;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
	color: #fff;

}

@keyframes animate{

0%{

	transform: translateY(0px);
}
20%{

	transform: translateY(-20px);
}
40%,100%{

	transform: translateY(0px);
}

}


.about-heading2{

	width: 100%;
	text-align: center;
	padding: 30px 0;
	position: relative;
	-webkit-box-reflect: below -44px linear-gradient(transparent,rgba(0,0,0,0.2));
    color: #01fe87;
    margin: 50px 0 30px;

}

.about-heading2 span{

	display: inline-block;
	position: relative;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
    color: #01fe87;

}

@keyframes animate{

0%{

	transform: translateY(0px);
}
20%{

	transform: translateY(-20px);
}
40%,100%{

	transform: translateY(0px);
}

}


.about-heading3{

	width: 100%;
	text-align: center;
	padding: 30px 0;
	position: relative;
	-webkit-box-reflect: below -44px linear-gradient(transparent,rgba(0,0,0,0.2));
    color: #ff002c;

}

.about-heading3 span{

	display: inline-block;
	position: relative;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
    color: #ff002c;

}

@keyframes animate{

0%{

	transform: translateY(0px);
}
20%{

	transform: translateY(-20px);
}
40%,100%{

	transform: translateY(0px);
}

}


/* .about-heading h2{

	font-weight: bold;
	font-size: 35px;
	position: relative;
	z-index: 1;
	overflow: hidden;
} */


/* .about-heading h2:before{

	content: '';
	position: absolute;
	left: 120%;
	width: 120%;
	background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
	height: 100%;
	animation: animate 5.5s linear forwards;
	animation-delay: 2s;
} */

/* @keyfames animate
{

	0%
	{

		left: 110%;
	}

	100%
	{

		left: -20%;
	}
}

 */
/* video{

	z-index: 2;
    position: absolute;
    object-fit: none;
    mix-blend-mode: screen;
    top: 50%;
    left: 0%;

}
 */
/* .about-heading h2 span{color:#ff022c;font-weight:bold;}
 */
.about-container img{
	height:250px;
	width: 100%;
}
.about-container .about-img{width: 23%;}

.about-text{
	width:75%;
	padding-left: 70px;
	padding-right: 100px;
} 

.about-text h2{

font-weight: bold;
}


.about-text p{
	color:#fff;
	font-family: calibri;
	font-weight:500;
	font-size:18px;
	padding-top: 8px;
}

.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: calibri;
	background-color:#262525;
}

/* gallery section*/

.gallery_container{

	width: 1280px;
	background: #fff;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.gallery_container .box{

	position: relative;
	width: 300px;
	height: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.gallery_container .box .imgbox{

	position: relative;
	overflow: hidden;
}

.gallery_container .box .imgbox img{

	max-width: 100%;
    transition: transform 2s;

}
.gallery_container .box:hover .imgbox img{

	transform: scale(1.2);
}

.gallery_container .box .details{

	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background: rgba(0, 0, 0, .8);
	transform: scaleY(0);
	transition: transform .5s;
}

.gallery_container .box:hover .details{

		transform: scaleY(1);

}


.gallery_container .box .details .content{

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;

}

.gallery_container .box .details .content h2{

	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}

.gallery_container .box .details .content p{

	margin: 10px 0 0 0;
	padding: 0;
}

/* contact section */

.contact{

	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url('images/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 60px;
}

.contact .content{

	max-width: 800px;
	text-align: center;
}

.contact .content h2{

	font-size: 36px;
	font-weight: 700;
	color: #fff;
}

.contact .content p{

	font-weight: 400;
	color: #fff;
}

.contact_container{

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.contact_container .contactInfo{

	width: 50%;
	display: flex;
	flex-direction: column;
}

.contact_container .contactInfo .box{

	position: relative;
	padding: 20px 0;
	display: flex;
}

.contact_container .contactInfo .box .icon{

	min-width: 60px;
	height: 60px;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;

}

.contact_container .contactInfo .box .text{

	display: flex;
	font-size: 16px;
	margin-left: 20px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.contact_container .contactInfo .box .text h3{

	font-weight: 900;
	color: #FFCC70;
}

.contact_container .contactInfo .box .text p{

	text-transform: capitalize;
	font-weight: 800;
	color: #fff;
}


.contactForm{

	width: 40%;
	padding: 40px;
	background: #fff;
}

.contactForm h2{

	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contactForm .inputBox{

	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{

	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;

}

.contactForm .inputBox span{

	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: -10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:active ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span,

{

	color: #e91e63;
	font-size: 12px;
	transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"]{

	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

.copyright{

	position: relative;
	min-height: 10vh;
	padding: 10px 0;
	text-align: center;
	background: #000;
	color: #fff;
}

@media (max-widt:991px){
.contact{
	padding: 50px;
}
.contact_container{

	flex-direction: column;
}

.contact_container .contactInfo{

	margin-bottom: 40px;
}

.contact_container .contactInfo, .contactForm{

	width: 100%;
}
}

